@import "./css/themes/lime-theme.css"; // current theme

@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Host Grotesk";
  src: url("assets/fonts/HostGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("assets/fonts/HostGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("assets/fonts/HostGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("assets/fonts/HostGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Letter spacing */
  --tracking-tightish: -0.01em;
  --tracking-relaxed: 0.015em;
  --tracking-wideish: 0.03em;

  /* Line height */
  --leading-snug: 1.25;
  --leading-relaxed: 1.7;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
